<div class="container">
<h2 class= "text-center mt-5">Sign up</h2>
<hr>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

  <div class="field form-group">
    <%= f.label :Name, class:"mt-3 mb-2 fw-bold"%><br />
    <%= f.text_field :name, autofocus: true, autocomplete: "name", class:'form-control mb-4', required: true%>
  </div>

  <div class="field form-group">
    <%= f.label :email, class:"mt-3 mb-2 fw-bold" %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email", class:'form-control mb-4' %>
  </div>

  <div class="field form-group">
    <%= f.label :Date_of_birth, class:"mt-3 mb-2 fw-bold"%><br />
    <%= f.date_field :dob, autofocus: true, autocomplete: "dob", class:'form-control mb-4', required: true %>
  </div>

  <div class="field form-group">
    <%= f.label :Gender, class:"mt-3 mb-2 fw-bold"%><br />
    <%= f.select :gender, %w{Male Female }, :prompt => 'Select', required: true, placeholder: 'Gender', class: 'form-control mb-4', autofocus: true %>
  </div>

  <div class="field form-group">
    <%= f.label :password , class:"mt-3 mb-2 fw-bold"%>
    <% if @minimum_password_length %>
    <em>(<%= @minimum_password_length %> characters minimum)</em>
    <% end %><br />
    <%= f.password_field :password, autocomplete: "new-password", class:'form-control mb-4' %>
  </div>

  <div class="field form-group">
    <%= f.label :password_confirmation , class:"mt-3 mb-2 fw-bold"%><br />
    <%= f.password_field :password_confirmation, autocomplete: "new-password", class:'form-control mb-4' %>
  </div>

  <div class="actions">
    <%= f.submit "Sign up", data: {turbo: false}, class:"btn btn-primary" %>
  </div>
<% end %>

<%= render "devise/shared/links" %>
</div>
